@font-face {
  font-family: "iconfont"; /* Project id 4984472 */
  src: url('iconfont.woff2?t=1753518869898') format('woff2'),
       url('iconfont.woff?t=1753518869898') format('woff'),
       url('iconfont.ttf?t=1753518869898') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}

.icon-yiyanzheng:before {
  content: "\e62c";
}

.icon-yanzheng:before {
  content: "\e61b";
}

.icon-dns:before {
  content: "\e706";
}

.icon-dns1:before {
  content: "\eb23";
}

.icon-dns2:before {
  content: "\e7ca";
}

.icon-shouye:before {
  content: "\e63c";
}

.icon-buywebhostingstep1dns:before {
  content: "\e697";
}

.icon-IP:before {
  content: "\e632";
}

.icon-DNS:before {
  content: "\e609";
}

.icon-dnsyunjiexi:before {
  content: "\e730";
}

.icon-dizhi:before {
  content: "\e606";
}

.icon-ip:before {
  content: "\e67d";
}

.icon-dizhi1:before {
  content: "\e623";
}

.icon-ip1:before {
  content: "\e6e8";
}

.icon-dizhi2:before {
  content: "\e60b";
}

.icon-dizhi3:before {
  content: "\ec45";
}

.icon-a-wangluoshezhiwangluopeizhi:before {
  content: "\e7c3";
}

.icon-a-flexibleconfigurationdns:before {
  content: "\e858";
}

.icon-AI:before {
  content: "\e60a";
}

.icon-wuguan:before {
  content: "\ec5f";
}

.icon-zhuanhuan:before {
  content: "\e612";
}

.icon-ai:before {
  content: "\e68a";
}

.icon-shujuzhuanhuan:before {
  content: "\e613";
}

.icon-geshizhuanhuan-xuanzhong:before {
  content: "\e75a";
}

.icon-zuoyoujiantou:before {
  content: "\ee31";
}

.icon-zhuanhuan1:before {
  content: "\e614";
}

.icon-zhuanhuan2:before {
  content: "\e62a";
}

.icon-zhongduan:before {
  content: "\e642";
}

.icon-zhongduan1:before {
  content: "\e76f";
}

.icon-zhongduan2:before {
  content: "\e666";
}

.icon-zd:before {
  content: "\e75e";
}

.icon-zhongduan3:before {
  content: "\e86e";
}

.icon-zhongduanguanlibeifen:before {
  content: "\e616";
}

.icon-zhongduan4:before {
  content: "\e798";
}

.icon-zhongduanguanli-zhongduanzu-zhongduanzuliebiao:before {
  content: "\e62b";
}

.icon-terminal-box-line:before {
  content: "\e776";
}

.icon-terminal-box-fill:before {
  content: "\e777";
}

.icon-terminal-fill:before {
  content: "\e778";
}

.icon-zhongduanguanli-zhongduanzu-zhongduanzuliebiao1:before {
  content: "\e690";
}

.icon-zhongduan5:before {
  content: "\e7f4";
}

.icon-tv:before {
  content: "\e639";
}

.icon-dianying:before {
  content: "\e627";
}

.icon-tv1:before {
  content: "\e61e";
}

.icon--dianyingpiao-:before {
  content: "\e601";
}

.icon-dianshi:before {
  content: "\e622";
}

.icon-jurassic_toolkit:before {
  content: "\e6a3";
}

.icon-dianying1:before {
  content: "\e625";
}

.icon-dianshiji:before {
  content: "\e626";
}

